<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  
    <connectionStrings>
        <add name="DBMoneyManage"
            connectionString="Data Source=WIN-7A8II3F8U24\SQLEXPRESS;Initial Catalog=MyDBSQL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>